.instructions-panel {
  position: relative;
  width: 80vw;
  height: 60vh;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  background-color: rgba(164, 113, 72, 0.1);
  border-radius: 30px;
}

.instructions {
  width: 70%;
  height: 60%;
  background: rgba(155, 121, 87, 0.5);
  border-radius: 20px 0px 0px 20px;
  margin: 2% 0% 0% 2%;
  padding: 2%;
  font-size: 18px;
  text-align: justify;
  text-indent: 20px;
  color: #ffffff;
  overflow: auto;
}

.instructions-panel img {
  position: absolute;
  bottom: 0;
  right: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #ede5df;
}

::-webkit-scrollbar-thumb {
  background: rgba(74, 78, 105, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background: #4a4e69;
}

@media (max-width: 1395px) {
  .instructions-panel {
    width: 90vw;
  }
}

@media (max-width: 1245px) {
  .instructions-panel {
    width: 95vw;
  }
}
