.instructions-panel {
  width: 80vw;
  height: 60vh;
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 20px;
  background-color: rgba(164, 113, 72, 0.1);
  border-radius: 30px;
}

.instructions {
  font-size: 12px;
  width: 70%;
  height: 50%;
  margin-top: 2%;
  margin-left: 2%;
  padding: 2%;
  overflow: auto;
  background: rgba(155, 121, 87, 0.5);
  border-radius: 20px 0px 0px 20px;
}

.records-btn:hover {
  background: rgba(189, 141, 90, 0.8);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ede5df;
}

::-webkit-scrollbar-thumb {
  background: rgb(155, 155, 155);
}

::-webkit-scrollbar-thumb:hover {
  background: #888888;
}

@media (max-width: 1395px) {
  .instructions-panel {
    width: 90vw;
  }
}

@media (max-width: 1245px) {
  .instructions-panel {
    width: 95vw;
  }
}
