/* ---------- general panel styling properties ---------- */

.default-panel,
.instructions-panel,
.records-panel {
  width: 70vw;
  height: 45vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.default-panel {
  background-image: url("../../assets/default-panel-background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* ---------- info panel specific ---------- */

.info-panel {
  width: 70vw;
  height: 10vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
}

.info-panel .score,
.info-panel .info {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.info-panel .info {
  width: 80%;
  border-radius: 15px;
  background-color: rgba(230, 204, 178, 0.3);
  text-align: center;
}

.info-panel .score {
  width: 10%;
}

.info-panel .score img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

/* ---------- instructions panel ---------- */

.instructions-panel {
  background-image: url("../../assets/instructions-panel-background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.instructions {
  font-size: 12px;
  width: 80%;
  height: 50%;
  margin-top: 3%;
  margin-left: 5%;
  overflow: auto;
}

.records-btn:hover {
  background: rgba(189, 141, 90, 0.8);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ede5df;
}

::-webkit-scrollbar-thumb {
  background: rgb(155, 155, 155);
}

::-webkit-scrollbar-thumb:hover {
  background: #888888;
}

/* ---------- records panel ---------- */

.records-panel {
  background-image: url("../../assets/records-panel-background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.records-panel {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Brush Script, cursive;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.records-panel table td {
  text-align: center;
}

.records-btn {
  color: #ffffff;
  background-color: rgba(189, 141, 90, 0.4);
}

/* ---------- to hide the panels ---------- */

.hide-panel {
  display: none;
}