.settings-panel {
  width: 80vw;
  height: 25vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: 12px;
  margin: auto;
  margin-top: 5vh;
}

.card {
  display: grid;
  grid-template-areas:
    "img r1"
    "img r2"
    "img r3";
  justify-items: center;
  align-items: center;
  width: 30%;
  min-width: 305px;
  height: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  background-color: rgba(230, 204, 178, 0.3);
}

.board-card img {
  transform: rotate(-45deg);
}

/* to grey the disabled area */
.disable {
  filter: brightness(80%);
}

/* to when the level radio buttons are not hidden */
.card img {
  grid-area: img;
  width: 120px;
  height: 120px;
  margin: 5px;
}

.player-card .name,
.board-card .holes {
  grid-area: r1;
}

.player-card .bot,
.board-card .seeds {
  grid-area: r2;
}

.player-card .levels,
.board-card .buttons {
  grid-area: r3;
}

/* to when the level radio buttons are hidden */
.player-card.levels-hide {
  display: grid;
  grid-template-areas:
    "img r1"
    "img r2";
}

.player-card.levels-hide .name {
  grid-area: r1;
  align-self: end;
}

.player-card.levels-hide .bot {
  grid-area: r2;
  align-self: start;
  margin-top: 10px;
}

.player-card.levels-hide .levels {
  display: none;
}

.board-card #preview {
  background-color: rgba(232, 172, 101, 0.55);
}

.board-card #preview:hover {
  background-color: #d08c60;
}

@media (max-width: 1395px) {
  .settings-panel {
    width: 90vw;
  }
}

@media (max-width: 1245px) {
  .settings-panel {
    width: 95vw;
  }
}
