.settings-panel {
  width: 80vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 10px;
  margin: auto;
  margin-top: 5vh;
}

#player-card-1 {
  grid-area: player1;
  justify-self: start;
}

#player-card-2 {
  grid-area: player2;
  justify-self: center;
}

#board-card {
  grid-area: board;
  justify-self: end;
}

.card {
  display: grid;
  grid-template-areas:
    "img r1"
    "img r2"
    "img r3";
  justify-items: center;
  align-items: center;
  padding: 5px;
  border-radius: 30px;
  background-color: rgba(230, 204, 178, 0.3);
}

.board-card img {
  transform: rotate(-45deg);
}

/* to grey the disabled area */
.disable {
  filter: brightness(80%);
}

/* to when the level radio buttons are not hidden */
.card img {
  grid-area: img;
  width: 120px;
  height: 120px;
  margin: 5px;
}

.player-card .name,
.board-card .holes {
  grid-area: r1;
}

.player-card .computer,
.board-card .seeds {
  grid-area: r2;
}

.player-card .levels,
.board-card .buttons {
  grid-area: r3;
}

/* to when the level radio buttons are hidden */
.player-card.levels-hide {
  display: grid;
  grid-template-areas:
    "img r1"
    "img r2";
}

.player-card.levels-hide .name {
  grid-area: r1;
  align-self: end;
}

.player-card.levels-hide .computer {
  grid-area: r2;
  align-self: start;
  margin-top: 10px;
}

.player-card.levels-hide .levels {
  display: none;
}

.board-card #preview {
  background-color: rgba(232, 172, 101, 0.55);
}

.board-card #preview:hover {
  background-color: #d08c60;
}

@media (max-width: 1395px) {
  .settings-panel {
    width: 90vw;
  }
}

@media (max-width: 1245px) {
  .settings-panel {
    width: 95vw;
  }
}

@media (max-width: 970px) {
  .settings-panel {
    width: 90vw;
    height: 50vh;
    grid-template-areas:
      "player1 player2"
      "board board";
    grid-template-columns: 1fr 1fr;
  }

  #player-card-1,
  #player-card-2,
  #board-card {
    justify-self: center;
  }
}

@media (max-width: 705px) {
  .settings-panel {
    width: 90vw;
    height: 75vh;
    grid-template-areas:
      "player1"
      "player2"
      "board";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .card {
    width: 60%;
    justify-self: center;
  }
}

@media (max-width: 530px) {
  .card {
    width: 70%;
  }
}
