/* -------------------- info panel -------------------- */

.info-panel {
  width: 80vw;
  height: 10vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-panel .score,
.info-panel .info {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
}

.info-panel .info {
  width: 100%;
  border-radius: 15px;
  background-color: rgba(230, 204, 178, 0.3);
  text-align: center;
  margin: 0px 10px;
}

.info-panel .score {
  width: 10%;
}

.info-panel .score img {
  margin-left: 5px;
  margin-right: 5px;
}

/* -------------------- board panel -------------------- */

.board-panel {
  position: relative;
  width: 80vw;
  height: 50vh;
  display: grid;
  grid-template-areas:
    'wh-0 r-0 wh-1'
    'wh-0 r-1 wh-1';
  grid-template-columns: 1fr 4fr 1fr;
  grid-column-gap: 3px;
  margin: auto;
  border-radius: 20px;
  padding: 6px;
  background-color: #a47148;
}

.board-panel #wh-0 {
  grid-area: wh-0;
}
.board-panel #wh-1 {
  grid-area: wh-1;
}
.board-panel #row-0 {
  grid-area: r-0;
  margin-bottom: 3px;
}
.board-panel #row-1 {
  grid-area: r-1;
  margin-top: 3px;
}

.board-panel .row {
  display: flex;
  justify-content: space-evenly;
}

.board-panel .wh,
.board-panel .row .col {
  position: relative;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  margin-right: 3px;
  margin-left: 3px;
  border-radius: 50px;
  background-color: #6f4518;
  /*box-shadow: inset 15px 15px 33px -12px rgba(0, 0, 0, 1);*/
  font-size: 8px;
  color: white;
}

.curr-player {
  border: 2px solid #ffca3a;
}
.curr-player:hover {
  border-width: 4px;
}

@media (max-width: 1200px) {
  .board-panel {
    width: 85%;
  }
}
@media (max-width: 800px) {
  .board-panel {
    width: 90%;
  }
}

/* -------------------- seeds -------------------- */

.seed {
  position: absolute;
  border-radius: 50%;
}
