.default-panel {
  width: 80vw;
  height: 60vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-image: url("../assets/default-panel-background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.logoCanvas .logo {
  width: 100%;
  height: inherit;
}

.deafult-panel-logo .rotate{
  width: 17vh;
  height: inherit;
  position: unset;
}


.deafult-panel-logo {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.deafult-panel-logo span {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: larger;
}

.hide-panel {
  display: none;
}

@media (max-width: 1395px) {
  .default-panel {
    width: 90vw;
  }
}

@media (max-width: 1245px) {
  .default-panel {
    width: 95vw;
  }
}

canvas {
  justify-content: center;
  align-items: center;
}