.menu {
  width: 80vw;
  height: 10vh;
  margin: auto;
  margin-top: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-btn {
  width: 25%;
  height: 70%;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.menu-btn:hover {
  width: 27%;
  height: 72%;
  transition: 0.5s;
}

#game-btn {
  background-color: rgba(25, 130, 196, 0.4);
}

#game-btn:hover {
  background-color: #1982c4;
}

#instructions-btn {
  background-color: rgba(138, 201, 38, 0.4);
}

#instructions-btn:hover {
  background-color: #91d12a;
}

#records-btn {
  background-color: rgba(255, 202, 58, 0.4);
}

#records-btn:hover {
  background-color: #ffca3a;
}

#settings-btn {
  background: rgba(74, 78, 105, 0.4);
}

#settings-btn:hover {
  background: #4a4e69;
}

@media (max-width: 1395px) {
  .menu {
    width: 90vw;
  }
}

@media (max-width: 1245px) {
  .menu {
    width: 95vw;
  }
}
