:root {
  --point-color: #555;
  --size: 5px;
}

.load-container,
.load-container-waiting {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex; */
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #dbc6b6;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.load-container-waiting {
  width: 80vh;
  height: 30vh;
}

.load-container {
  width: 80vh;
  height: 50vh;
  padding: 10px 30px;
}

.load-container-waiting span {
  color: white;
  font-weight: bold;
  font-size: large;
  margin-bottom: 3%;
}

.dot-element1,
.dot-element2,
.dot-element3 {
  border-radius: 100%;
  border: var(--size) solid var(--point-color);
  margin: calc(var(--size) * 2);
}

.dot-element1:nth-child(1),
.dot-element2:nth-child(1),
.dot-element3:nth-child(1) {
  animation: preloader 0.6s ease-in-out alternate infinite;
}
.dot-element1:nth-child(2),
.dot-element2:nth-child(2),
.dot-element3:nth-child(2) {
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}

.dot-element1:nth-child(3),
.dot-element2:nth-child(3),
.dot-element3:nth-child(3) {
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

@keyframes preloader {
  100% {
    transform: scale(2);
  }
}

.rotate {
  animation: rotation 3s infinite linear;
  position: absolute;
  top: 30px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.winner,
.waiting {
  position: absolute;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
}

.winner-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  display: none;
}

.winner-info span {
  font-size: large;
  position: absolute;
  top: 170px;
}

.winner-info button {
  position: absolute;
  top: 270px;
  width: 150px;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid rgba(252, 112, 0, 0.4);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
