:root {
  --point-color: #555;
  --size: 5px;
}

.container,
.load-container-waiting {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  background-color: #dbc6b6;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.load-container-waiting {
  width: 70vh;
  height: 35vh;
}

.container {
  width: 70vh;
  height: 35vh;
  padding: 2em;
  text-align: center;
}

.load-container-waiting span {
  color: white;
  font-weight: bold;
  font-size: large;
  margin-bottom: 3%;
}

.loader-time-container {
  position: relative;
}

.waiting .time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: small;
}


/* @keyframes preloader {
  100% {
    transform: scale(2);
  }
} */

.rotate {
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.winner,
.waiting {
  position: absolute;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
}

.winner-info {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  display: none;
}

.winner-info span {
  font-size: large;
}

.winner-info button {
  top: 270px;
  width: 150px;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid rgba(252, 112, 0, 0.4);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.loader-dot>span {
  width: 3vh;
  height: 3vh;
  display: block;
  background: white;
  border-radius: 50%;
  position: relative;
  margin: 0 5px;
}

.loader-dot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-1 {
  animation: anim 1s linear 0s infinite;
}

.dot-2 {
  animation: anim 1s linear 0.25s infinite;
}

.dot-3 {
  animation: anim 1s linear 0.50s infinite;
}

@keyframes anim {
  0% {
    top: 0;
  }

  50% {
    top: 15px;
  }

  100% {
    top: 0;
  }
}