.configurations {
  display: grid;
  grid-template-areas: "player1 player2 board";
  justify-items: center;
  font-size: 10px;
}

#player-card-1 {
  grid-area: player1;
}
#player-card-2 {
  grid-area: player2;
}
#board-card {
  grid-area: board;
}

.card {
  display: grid;
  grid-template-areas:
    "img r1"
    "img r2"
    "img r3";
  justify-items: center;
  align-items: center;
  height: 150px;
  padding: 5px;
  border-radius: 30px;
  background-color: rgba(230, 204, 178, 0.3);
}
.player-card {
  width: 310px;
}
.board-card {
  width: 350px;
}
.board-card img {
  transform: rotate(-45deg);
}

/* to grey the disabled area */
.disable {
  filter: brightness(80%);
}

/* to when the level radio buttons are not hidden */
.card img {
  grid-area: img;

  width: 120px;
  height: 120px;
}
.player-card .name,
.board-card .holes {
  grid-area: r1;
}
.player-card .computer,
.board-card .seeds {
  grid-area: r2;
}
.player-card .levels,
.board-card .buttons {
  grid-area: r3;
}

/* to when the level radio buttons are hidden */
.player-card.levels-hide {
  display: grid;
  grid-template-areas:
    "img r1"
    "img r2";
}
.player-card.levels-hide .name {
  grid-area: r1;
  align-self: end;
}
.player-card.levels-hide .computer {
  grid-area: r2;
  align-self: start;
  margin-top: 10px;
}
.player-card.levels-hide .levels {
  display: none;
}

.board-card #preview {
  background-color: rgba(232, 172, 101, 0.55);
}
.board-card #preview:hover {
  background-color: #d08c60;
}

@media (max-width: 1020px) {
  .configurations {
    grid-template-areas:
      "player1 player2"
      "board board";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  #player-card-1 {
    justify-self: end;
  }
  #player-card-2 {
    justify-self: start;
  }
}

@media (max-width: 700px) {
  .configurations {
    grid-template-areas:
      "player1"
      "player2"
      "board";
  }
  .player-card {
    width: 350px;
  }
  #player-card-1 {
    justify-self: center;
  }
  #player-card-2 {
    justify-self: center;
  }
}

