html body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  height: 25px;
  margin-right: 5px;
  margin-left: 5px;
  background: rgba(255, 255, 255, 0.55);
  border: none;
  cursor: pointer;
  text-align: center;
}

button {
  width: 100px;
  border-radius: 20px;
}

button:hover {
  background: rgba(255, 255, 255, 0.8);
}

input[type="text"],
input[type="password"] {
  width: 130px;
  border-radius: 20px;
}

input[type="number"] {
  width: 45px;
}

input[type="checkbox"],
input[type="radio"] {
  width: 25px;
  appearance: none;
  border-radius: 50%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: rgba(102, 187, 106, 1);
}

label {
  cursor: pointer;
}

li {
  margin: 10px 0;
}


