header {
  display: grid;
  grid-template-areas: "logo . auth";
  grid-template-rows: 10vh;
  align-items: center;
  margin-bottom: 10px;
  font-size: 10px;
  background: rgba(155, 121, 87, 0.7);
}

.logo {
  grid-area: logo;
  justify-self: start;
}
#logo {
  padding-left: 20px;
  width: 312px;
  height: 50px;
}

.auth {
  grid-area: auth;
  display: grid;
  grid-template-areas:
    "username password"
    ". login";
  grid-template-rows: 5vh;
  align-items: center;
  justify-self: end;
}
.auth-username {
  grid-area: username;
  justify-self: end;
}
.auth-password {
  grid-area: password;
  justify-self: end;
}
#login {
  grid-area: login;
  justify-self: end;
}

@media (max-width: 685px) {
  header {
    grid-template-areas: "logo auth";
    grid-template-rows: 15vh;
  }

  .logo {
    justify-self: start;
  }
  #logo {
    padding-left: 0px;
  }

  .auth {
    grid-template-areas:
      "username"
      "password"
      "login";
    grid-template-rows: 5vh 5vh 5vh;
  }
  .auth-username {
    justify-self: start;
    margin-left: auto;
  }
  .auth-password {
    justify-self: start;
  }
  #login {
    justify-self: end;
  }
}

@media (max-width: 535px) {
  header {
    grid-template-areas:
      "logo"
      "auth";
    grid-template-rows: 9vh 7vh;
  }

  .logo {
    justify-self: center;
    grid-template-rows: 9vh;
  }

  .auth {
    grid-template-areas: "username password login";
    grid-template-rows: 7vh;
    justify-self: center;
  }
  .auth-username {
    justify-self: start;
  }
  .auth-password {
    justify-self: start;
  }
  #login {
    justify-self: start;
  }
}