header {
  display: grid;
  grid-template-areas:
    "logo username password"
    "logo empty button";
  grid-template-rows: 5vh 5vh;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin-bottom: 10px;
  font-size: 10px;
  background: rgba(155, 121, 87, 0.7);
}

.logo {
  grid-area: logo;
  justify-self: start;
}
#logo {
  padding-left: 20px;
  width: 312px;
  height: 50px;
}

.auth-username {
  grid-area: username;
  justify-self: end;
}
.auth-password {
  grid-area: password;
  justify-self: end;
}
#login {
  grid-area: button;
  justify-self: end;
}

@media (max-width: 680px) {
  header {
    grid-template-areas:
      "logo logo logo"
      "username password button";
    grid-template-rows: 9vh 5vh;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .logo {
    justify-self: center;
  }
  #logo {
    padding-left: 0px;
  }

  .auth-username {
    justify-self: start;
    margin-left: auto;
  }
  .auth-password {
    justify-self: start;
  }
  #login {
    justify-self: end;
  }
}

@media (max-width: 535px) {
  header {
    grid-template-areas:
      "logo logo logo logo"
      "username username button button"
      "password password button button";

    grid-template-rows: 9vh 5vh 5vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .auth-username {
    justify-self: end;
  }
  .auth-password {
    justify-self: end;
  }
  #login {
    justify-self: center;
  }
}
