/* ------------------ DEFAULT PANEL ------------------ */
.default-panel {
    width: 100%;
    display: flex;
    justify-content: center;
}

.default-panel img {
    margin: 20px;
    width: 1160px;
    height: 415px;
}

/* ------------------ INFO PANEL ------------------ */
.info-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-panel .score, .info-panel .info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-panel .score {
    font-size: 30px;
}

.info-panel .score img {
    width: 30px;
    height: 30px;
}

.info-panel .info {
    width: 60%;
    height: 30px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 15px;
    background-color: rgba(230, 204, 178, 0.3);
    font-size: 15px;
}

