.default-panel,
.instructions-panel,
.game-record,
.scores-record {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.default-panel img,
.instructions-panel img,
.game-record img,
.scores-record img {
  width: 70%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.board-panel {
  width: 70%;
  height: 300px;
  display: grid;
  grid-template-areas:
    "wh-1 r-1 wh-2"
    "wh-1 r-2 wh-2";
  grid-template-columns: 1fr 4fr 1fr;
  grid-column-gap: 3px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 6px;
  background-color: #a47148;
}

.board-panel .row {
  display: flex;
  justify-content: space-evenly;
}

.board-panel .wh,
.board-panel .row .col {
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-right: 3px;
  margin-left: 3px;
  border-radius: 20px;
  background-color: #6f4518;
}

.board-panel #wh-1 {
  grid-area: wh-1;
}
.board-panel #wh-2 {
  grid-area: wh-2;
}

.board-panel #row-1 {
  grid-area: r-1;
  margin-bottom: 3px;
}
.board-panel #row-2 {
  grid-area: r-2;
  margin-top: 3px;
}

.instructions {
  font-size: 12px;
  position: absolute;
  width: 55%;
  height: 40%;
  top: 16%;
  left: 19%;
  overflow: auto;
}

.info-panel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-panel .score,
.info-panel .info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.info-panel .score {
  width: 10%;
}

.info-panel .score img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.info-panel .info {
  width: 50%;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  background-color: rgba(230, 204, 178, 0.3);
  text-align: center;
}

.hide-panel {
  display: none;
}

@media (max-width: 1200px) {
  .default-panel img,
  .instructions-panel img,
  .record-panel img {
    width: 95%;
  }

  .info-panel .score {
    width: 10%;
  }

  .info-panel .info {
    width: 70%;
  }
}

/* 
.record-panel {
  color: white;
  font-weight: bold;
}

.record-titles {
  font-family: Brush Script, cursive;
  position: absolute;
  top: 9%;
}

.record-panel table {
  font-family: Brush Script, cursive;
  position: absolute;
  font-size: 20px;
  text-align: center;
  height: 60%;
}

#games-made {
  width: 30%;
  top: 27%;
  border-spacing: 0 15px;
}

#scores {
  top: 19%;
}

#scores td {
  padding: 0 70px;
}

#scores th {
  font-size: 25px;
  padding: 29px;
}

.record-btn {
  color: #ffffff;
  background-color: rgba(189, 141, 90, 0.4);
  position: absolute;
  top: 82%;
  left: 18%;
}

.record-btn:hover {
  background: rgba(189, 141, 90, 0.8);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ede5df;
}

::-webkit-scrollbar-thumb {
  background: rgb(155, 155, 155);
}

::-webkit-scrollbar-thumb:hover {
  background: #888888;
} 
*/
