.players-configurations {
  display: flex;
  align-items: center;
  padding: 30px;
}

.player-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 500px;
  height: 200px;
  border-radius: 30px;
  margin: 30px;
  padding: 20px;
  background-color: rgba(230, 204, 178, 0.3);
  font-size: 12px;
}

.player-card img {
  width: 170px;
  height: 166px;
}

.player-configurations {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.player-configurations div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


